* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', 'Helvetica Neue', sans-serif;
    padding-top: 23em;
}

.header {
    height: auto;
    width: 100vw;
    padding: 6em 0;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.header--small {
    height: 11vh;
    width: 100vw;
    padding: 2em 0;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    width: 60vw;
}

.media--small {
    height: 10vh;
    width: 100vw;
    padding-right: 1.5em;
}

.media__img {
    height: 160px;
    width: 160px;
}

.media__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-left: 2em;
}

.media__content--small {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.media__title {
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: .2em;
    color: #68c6f5;
}

.media__title--small {
    font-size: 1.5em;
}

.media__title span {
    color: #ddd;
}

.media__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.media__author--avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 1em;
    background: url('../imgs/avatar.jpg') center center no-repeat;
    background-size: cover;
}

.media__author--name {
    font-weight: 100;
    font-size: 1.1em;
    color: #333;
    margin-right: .75em;
}

.media__author--title {
    color: #bbb;
    font-weight: 100;
    letter-spacing: 1px;
    margin-right: 1em;
}

.section {
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 5em;
}

.section__title, .section__title--rating {
    font-weight: bold;
    font-size: 1.75em;
    color: #2196f3;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.section__title--rating {
    margin-top: 2em;
}

.section__description, .section__description--rating {
    width: 78%;
    font-weight: 100;
    font-size: 1.2em;
    color: #bbb;
    margin-left: 1em;
    padding-left: .8em;
    line-height: 2;
    margin-bottom: 3em;
    border-left: 2px solid #2196f3;
}

.section__description--rating {
    position: relative;
    width: 50%;
}

.section__description--rating::before {
    content: '';
    height: 13em;
    width: 13em;
    position: absolute;
    top: -4.5em;
    right: -17em;
    background: url('../imgs/rating-icon.svg') top center no-repeat;
}

.section__subtitle {
    color: #2196f3;
    font-weight: 300;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-left: .9em;
    margin-bottom: 1em;
}

.section__subdescription, .section__subdescription--intro, .critique__list--item {
    width: 55%;
    margin-left: 1em;
    padding-left: .8em;
    line-height: 2;
    font-weight: 100;
    font-size: 1.2em;
    color: #bbb;
}

.critique__list--item {
    padding-left: 0;
    width: 100%;
    margin-left: 3em;
}

.section__subdescription--intro {
    width: 80%;
}

.section__subdescription span {
    display: inline-block;
    margin-top: 1em;
}

.section__feature, .section__critique {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 60vw;
}

.section__feature--image {
    height: 330px;
    margin-right: 2.5em;
    margin-top: -2.75em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.hidden {
    display: none;
}
